!!! 5
html(xmlns:fb='http://ogp.me/ns/fb#', lang='en')
  head
    link(rel='stylesheet', href='/stylesheets/admin.css')
    link(href='//fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet', type='text/css')
    meta(charset='utf-8')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')

  body
    - if (typeof(logged)!="undefined" && logged)
      include content

    - else
      include login