header
  .intro
    secion
      .container-fluid
        .content-intro
          header.title
            h3 Encontre um plano de saúde que melhor combina com seu bolso
            .row-fluid
              .span6
                ul.icons-ul
                  li.okay
                    i.icon-li.icon-ok
                    p Cotação online e gratuita
                    i.icon-li.icon-ok
                    p Simulação de forma simples, rápida e prática
                    i.icon-li.icon-ok
                    p Encontre o plano de saúde mais adequado ao seu orçamento
                    i.icon-li.icon-ok
                    p Entre em contato com nossos consultores  11-987024849
              .span6
                a.btn.btn-primary.btn-large(style="margin-top:5%", href="/plans") Veja nossos Planos & Valores

.container-outer
  .row-fluid
    #consultant-form
      form#form-plan.form-horizontal(novalidate)
        .span3
          .control-group
            .controls
              header.title-form
                h4 Dados para contato

          .control-group
            .controls.input-validation
              input#inputNome(type='text', placeholder='Nome completo', maxlength="50", pattern="\\s*[A-Za-z]+[A-Za-z\\s]*", required, data-validation-required-message="Obrigatório", data-validation-pattern-message="Apenas letras (mínimo 5 caracteres)")

          .control-group
            .controls.input-validation
              input#inputEmail(type='email', placeholder='Email para contato', maxlength="50")

          .control-group
            .controls.input-validation
              input#inputH(type='text', placeholder='Telefone residencial', maxlength="15")

          .control-group
            .controls.input-validation
              input#inputCom(type='text', placeholder='Telefone comercial', maxlength="15")

          .control-group
            .controls.input-validation
              input#inputCel(type='text', placeholder='Telefone celular', maxlength="15")

        .span5.offset2
          .control-group
            .controls
              header.title-form
                h4 Tipo de Plano

          .control-group
            .controls
              .btn-group
                a#type.btn.dropdown-toggle(data-toggle="dropdown") Individual
                  span.caret
                ul.dropdown-menu
                  li
                    a#1 Individual
                    a#2 Familiar

          .control-group(style="margin-top:6%")
            .controls
              header.title-form
                h4 Quantidade de Vidas por Faixa Etária

          .control-group
            .controls
              .span2
                input#age1(type='text', placeholder='0-18', maxlength="2", style="width:100%");
              .span2.offset1
                input#age2(type='text', placeholder='19-23', maxlength="2", style="width:100%");
              .span2.offset1
                input#age3(type='text', placeholder='24-28', maxlength="2", style="width:100%");
              .span2.offset1
                input#age4(type='text', placeholder='29-33', maxlength="2", style="width:100%");

          .control-group
            .controls
              .span2
                input#age5(type='text', placeholder='34-38', maxlength="2", style="width:100%");
              .span2.offset1
                input#age6(type='text', placeholder='39-43', maxlength="2", style="width:100%");
              .span2.offset1
                input#age7(type='text', placeholder='44-48', maxlength="2", style="width:100%");
              .span2.offset1
                input#age8(type='text', placeholder='49-53', maxlength="2", style="width:100%");

          .control-group
            .controls.input-validation
              .span2
                input#age9(type='text', placeholder='+ de 59', maxlength="2", style="width:100%");
  .row-fluid
    .span12(style="text-align:center;margin-top:2%;")
      a#send(style="width:10%").btn.btn-success.btn-large(href="#congrats", role="button", data-toggle="modal") Enviar

#congrats.modal.hide.fade
  .modal-body
    h3 Em breve um de nossos consultores entrará em contato
  .modal-footer
    a#closeModal.btn.btn-primary="Fechar"

script
  $("#closeModal").on('click', function(){
    $("#congrats").modal('hide');
  });

  $("#send").on('click', function(e){
    //resolve this. better way to solve it
    e.stopPropagation();
    submit();
    //- resetFields();
  });

  function submit(){
    //- var name=$("#inputNome").val().replace(/(?:(?:^|\n)\s+|\s+(?:$|\n))/g,'').replace(/\s+/g,' ').toUpperCase();
    var name=$("#inputNome").val().toUpperCase();
    var mail=$("#inputEmail").val();
    var phone1=$("#inputH").val();
    var phone2=$("#inputCom").val();
    var phone3=$("#inputCel").val();
    var type=$("ul li a").attr('id');
    var ages= {}
    //- $("ul li a").attr('id');

    //resolve this. better way to solve it. ajax.. success/fail.. messages.. etc
    $.ajax({
      type: "post",
      url: "/plan",
      data: JSON.stringify({
        name: name,
        email: mail,
        phones: {
          home:phone1,
          com:phone2,
          cel:phone3
        },
        type: type,
        ages: {}
      }),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data){
        resetFields();
      },  
      failure: function(errMsg) {
        console.log(errMsg);
      }
    });
  }

  $("ul li a").on('click',function(){
    $("a#type").text($(this).text());
    $("a#type").append('<span class="caret"></span>');
    $("li#type").attr('type',$(this).attr('id'));
  });

  function resetFields(){
    $("#inputNome").val("");
    $("#inputEmail").val("");
    $("#inputH").val("");
    $("#inputCom").val("");
    $("#inputCel").val("");
    $("a#type").text("Individual");
    $("li#type").attr("type", 1);
    $("a#type").append('<span class="caret"></span>');
    for(var i=1;i<10;i++) $("#age" + i).val("");
  }
