.intro
  secion
    .container-fluid
      .content-intro
        header.why
          h3 Encontre um plano de saúde que melhor se adapta ao seu bolso
          ul.icons-ul
            li.okay
              i.icon-li.icon-ok
              p Faça uma cotação online gratuitamente dos nossos planos de saúde
              i.icon-li.icon-ok
              p Cote de forma simples, rápida e prática
              i.icon-li.icon-ok
              p Encontre o plano de saúde mais adequado ao seu orçamento
              i.icon-li.icon-ok
              p Fale sem compromisso com um de nossos consultores

.container.container-form-fluid
  .form-title
    h4 Preencha o formulário com as características do seu plano e dados para contato
    h4 Aguarde que um de nossos consultores entrará em contato
  
  //- form#form-plan.form-horizontal(method="POST", action="/plan")
  form#form-plan.form-horizontal
    .container-form
      .control-group
        label.control-label(for='inputNome') Nome
        .controls
          input#inputNome(type='text', placeholder='Nome completo')

      .control-group
        label.control-label(for='inputEmail') Email
        .controls
          input#inputEmail(type='email', placeholder='Email para contato')

      .control-group
        label.control-label(for='inputTel') Telefone
        .controls
          input#inputTel(type='text', placeholder='Telefone para contato')

      //- .control-group
      //-   label.control-label(for='inputAge') Faixa etária
      //-   .controls
      //-     .row-fluid
      //-       div.input-age
      //-         input#inputAge.span1(type='text', placeholder='0-18')
      //-         input#inputAge.span1(type='text', placeholder='19-23')
      //-         input#inputAge.span1(type='text', placeholder='24-28')
      //-         input#inputAge.span1(type='text', placeholder='29-33')
      //-         input#inputAge.span1(type='text', placeholder='34-38')
      //-         input#inputAge.span1(type='text', placeholder='39-43')
      //-         input#inputAge.span1(type='text', placeholder='44-48')
      //-         input#inputAge.span1(type='text', placeholder='49-53')
      //-         input#inputAge.span1(type='text', placeholder='54-58')
      //-         input#inputAge.span1(type='text', placeholder='+ 59')

      .control-group
        .form-actions(style="border-top:0px;background-color:#fff;")
          .btn-toolbar
            .btn-group
              //- button#send.btn.btn-primary.btn-large(type='button',data-toggle="modal", data-target="#congrats") Enviar
              button#send.btn.btn-primary.btn-large(type='button') Enviar
            .btn-group
              button#online.btn.btn-primary.btn-large.disabled(type='button') Cotação Online (em breve)

//- script
//-   $(function(){
//-     $("ul#age li a").click(function(){
//-       $(".btn:first-child").text($(this).text());
//-       $(".btn:first-child").val($(this).text());
//-    });
//-   });

#congrats.modal.hide.fade
  .modal-header
    h4#thanks 
  .modal-body
    h3 Em breve um de nossos consultores entrará em contato
  .modal-footer
    a#closeModal.btn.btn-primary="Fechar"

script
  $("#send").on('click', function(){
    var name=$("#inputNome").val().toUpperCase();
    var mail=$("#inputEmail").val();
    var phone=$("#inputPhone").val();

    //resolve this. better way to solve it. ajax.. success/fail.. messages.. etc
    $.ajax({
      type: "post",
      url: "/plan",
      data: JSON.stringify({
        name: name,
        email: mail,
        phone: phone
      }),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data){
        $("#thanks").text("Obrigado, " + $("#inputNome").val().toUpperCase());
        $("#congrats").modal('show');
      },
      failure: function(errMsg) {
        console.log(errMsg);
      }
    });

    return false;
  });

  $("#online").on('click', function(){
    return false;
  });

  $("#closeModal").on('click', function(){
    $("#congrats").modal('hide');
  });

  $("#congrats").on('hide', function(){
    //resolve this. better way to solve it
    $("#thanks").text("");
    $("#inputNome").val("");
    $("#inputEmail").val("");
    $("#inputPhone").val("");
  });

