.intro
  secion
    .container-fluid
      .content-intro
        header.why
          h3 Encontre um plano de saúde que melhor se combina ao seu bolso
          ul.icons-ul
            li.okay
              i.icon-li.icon-ok
              p Cotação online e gratuita
              i.icon-li.icon-ok
              p Cote de forma simples, rápida e prática
              i.icon-li.icon-ok
              p Encontre o plano de saúde mais adequado ao seu orçamento
              i.icon-li.icon-ok
              p Fale sem compromisso com um de nossos consultores

.container.container-form-fluid
  .form-title
    h4 Preencha o formulário com as características do seu plano e dados para contato
    h4 Aguarde que um de nossos consultores entrará em contato
  
  //- form#form-plan.form-horizontal(method="POST", action="/plan")
  form#form-plan.form-horizontal
    .container-form
      .control-group
        label.control-label(for='inputCot') Tipo cotação
        .controls
          .btn-group(style="float:left;")
            .btn.disabled Consultor
            .btn.dropdown-toggle.disabled(data-toggle="dropdown")
              span.caret
            ul.dropdown-menu

      .control-group
        label.control-label(for='inputNome') Nome
        .controls
          input#inputNome(type='text', placeholder='Nome completo')

      .control-group
        label.control-label(for='inputEmail') Email
        .controls
          input#inputEmail(type='email', placeholder='Email para contato')

      .control-group
        label.control-label(for='inputTel') Telefone
        .controls
          input#inputTel(type='text', placeholder='Telefone para contato')

      .control-group
        label.control-label(for='inputLocal') Localidade (Em breve demais regiões)
        .controls
          .btn-group(style="float:left;")
            .btn.disabled São Paulo
            .btn.dropdown-toggle.disabled(data-toggle="dropdown")
              span.caret
            ul.dropdown-menu

      .form-actions(style="border-top:0px;background-color:#fff;padding-left:0;")
        button#send.btn.btn-primary.btn-large(type='button') Contatar consultor

#congrats.modal.hide.fade
  .modal-header
    h4#thanks 
  .modal-body
    h3 Em breve um de nossos consultores entrará em contato
  .modal-footer
    a#closeModal.btn.btn-primary="Fechar"

script
  $("#send").on('click', function(){
    var name=$("#inputNome").val().toUpperCase();
    var mail=$("#inputEmail").val();
    var phone=$("#inputTel").val();

    //resolve this. better way to solve it. ajax.. success/fail.. messages.. etc
    $.ajax({
      type: "post",
      url: "/plan",
      data: JSON.stringify({
        name: name,
        email: mail,
        phone: phone
      }),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data){
        if(data.code==200){
          $(document).scrollTop(0);
          $("#thanks").text("Obrigado, " + $("#inputNome").val().toUpperCase());
          $("#congrats").modal('show');
        }
      },
      failure: function(errMsg) {
        console.log(errMsg);
      }
    });

    return false;
  });

  $("#online").on('click', function(){
    return false;
  });

  $("#closeModal").on('click', function(){
    $("#congrats").modal('hide');
  });

  $("#congrats").on('hide', function(){
    //resolve this. better way to solve it
    $("#thanks").text("");
    $("#inputNome").val("");
    $("#inputEmail").val("");
    $("#inputTel").val("");
  });
