.intro
  secion
    .container-fluid
      .content-intro
        header.why
          h3 Encontre um plano de saúde que melhor se adapta ao seu bolso
          ul.icons-ul
            li.okay
              i.icon-li.icon-ok
              p Faça uma cotação online gratuitamente dos nossos planos de saúde
              i.icon-li.icon-ok
              p Cote de forma simples, rápida e prática
              i.icon-li.icon-ok
              p Encontre o plano de saúde mais adequado ao seu orçamento
              i.icon-li.icon-ok
              p Fale sem compromisso com um de nossos consultores

.container.container-form-fluid
  form.form-horizontal

    .control-group
      label.control-label(for='inputNome') Nome
      .controls
        input#inputNome(type='text', placeholder='Nome completo')

    .control-group
      label.control-label(for='inputEmail') Email
      .controls
        input#inputEmail(type='email', placeholder='Email para contato')

    .control-group
      label.control-label(for='inputTel') Telefone
      .controls
        input#inputTel(type='text', placeholder='Telefone para contato')

    .control-group
      label.control-label(for='inputAge') Faixa etária
      .controls
        .row-fluid
          div.input-age
            input#inputAge.span1(type='text', placeholder='0-18')
            input#inputAge.span1(type='text', placeholder='19-23')
            input#inputAge.span1(type='text', placeholder='24-28')
            input#inputAge.span1(type='text', placeholder='29-33')
            input#inputAge.span1(type='text', placeholder='34-38')
            input#inputAge.span1(type='text', placeholder='39-43')
            input#inputAge.span1(type='text', placeholder='44-48')
            input#inputAge.span1(type='text', placeholder='49-53')
            input#inputAge.span1(type='text', placeholder='54-58')
            input#inputAge.span1(type='text', placeholder='+ 59')

    .control-group
      .form-actions(style="border-top:0px;background-color:#fff;")
        .btn-toolbar
          .btn-group
            button.btn.btn-primary.btn-large(type='submit') Enviar
          .btn-group
            button.btn.btn-primary.btn-large.disabled(type='submit') Cotação Online

//- script
//-   $(function(){
//-     $("ul#age li a").click(function(){
//-       $(".btn:first-child").text($(this).text());
//-       $(".btn:first-child").val($(this).text());
//-    });
//-   });