header
  .intro
    secion
      .container-fluid
        .content-intro
          header.why
            h3 Encontre um plano de saúde que melhor combina com seu bolso
            .row-fluid
              .span6
                ul.icons-ul
                  li.okay
                    i.icon-li.icon-ok
                    p Cotação online e gratuita
                    i.icon-li.icon-ok
                    p Simulação de forma simples, rápida e prática
                    i.icon-li.icon-ok
                    p Encontre o plano de saúde mais adequado ao seu orçamento
                    i.icon-li.icon-ok
                    //- p Fale sem compromisso com um de nossos consultores
                    p Faça uma cotação em 3 passos
              //- .span6
              //-   .row-fluid
              //-     a#online.btn.btn-primary.btn-large Simulação Online
              //-   .row-fluid
              //-     a#consultant.btn.btn-primary.btn-large(style="margin-top:10px;") Prefiro falar com corretor

.container-outer
  .row-fluid
    #consultant-form
      .span4
        form#form-plan.form-horizontal(novalidate)
          //- .control-group
          //-   .controls.input-validation
          //-     input#inputNome(type='text', placeholder='Nome completo', maxlength="50", pattern="\\s*[A-Za-z]+[A-Za-z\\s]*", required, data-validation-required-message="Obrigatório", data-validation-pattern-message="Apenas letras (mínimo 5 caracteres)")

          //- .control-group
          //-   .controls.input-validation
          //-     input#inputEmail(type='email', placeholder='Email para contato', maxlength="50", pattern=".{5,50}", required, data-validation-required-message="Obrigatório", data-validation-validemail-message="Email no formato inválido", data-validation-pattern-message="Mínimo 5 caracteres")

          //- .control-group
          //-   .controls.input-validation
          //-     input#inputTel(type='text', placeholder='Telefone para contato', maxlength="15", pattern="[0-9]{5,15}", data-validation-required-message="Obrigatório", data-validation-pattern-message="Mínimo 5 números", required)

          //- //- .control-group
          //- //-   .controls.input-validation
          //- //-     .btn-group(style="float:left;")
          //- //-       .btn.disabled São Paulo
          //- //-       .btn.dropdown-toggle.disabled(data-toggle="dropdown")
          //- //-         span.caret
          //- //-       ul.dropdown-menu

          //- .control-group
          //-   .controls
          //-     p Ou ligue 11-987024849
              
          //- .control-group
          //-   .controls
          //-     button#send.btn.btn-primary.btn-large(type='submit') Próximo

//- #congrats.modal.hide.fade
//-   .modal-header
//-     h4#thanks 
//-   .modal-body
//-     h3 Em breve um de nossos consultores entrará em contato
//-   .modal-footer
//-     a#closeModal.btn.btn-primary="Fechar"

script
  //- $("a#consultant").on('click', function(){
  //-   resetFields();
  //-   $("#consultant-form").removeClass("hide");
  //-   return false;
  //- });

  //- $("#online").on('click', function(){
  //-   resetFields();
  //-   $("#online-form").removeClass("hide");
  //-   return false;
  //- });

  //- $("#closeModal").on('click', function(){
  //-   $("#congrats").modal('hide');
  //- });

  //- $("#send").on('click', function(){
  //-   //resolve this. better way to solve it
  //-   resetFields();
  //-   return false;
  //- });

  function resetFields(){
    $("#thanks").text("");
    $("#inputNome").val("");
    $("#inputEmail").val("");
    $("#inputTel").val("");
    //- $("#consultant-form").addClass("hide");
    //- $("#online-form").addClass("hide");
  }

  $(function() {
      $("input").jqBootstrapValidation(
        {
          preventSubmit: true,
          submitError: function($form, event, errors) {
              // Here I do nothing, but you could do something like display 
              // the error messages to the user, log, etc.
          },
          submitSuccess: function($form, event) {
            var name=$("#inputNome").val().replace(/(?:(?:^|\n)\s+|\s+(?:$|\n))/g,'').replace(/\s+/g,' ').toUpperCase();
            var mail=$("#inputEmail").val();
            var phone=$("#inputTel").val();

            //resolve this. better way to solve it. ajax.. success/fail.. messages.. etc
            $.ajax({
              type: "post",
              url: "/plan",
              data: JSON.stringify({
                name: name,
                email: mail,
                phone: phone
              }),
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              success: function(data){
                if(data.code==200){
                  resetFields();
                  //- $("#thanks").text("Obrigado, " + $("#inputNome").val().toUpperCase());
                  //- $("#congrats").modal('show');
                }
              },
              failure: function(errMsg) {
                console.log(errMsg);
              }
            });

            event.preventDefault();
          },
        }
      );
    });