.intro{
  width:100%;
}

p{ 
  color: #fff;
}

.why {
  h3{
    text-align: center;
    color: #eee;
  }
}

.okay{
  i {
    color: #77c338;
  }
}

.content-intro{
  margin-top: 35px;
  color: #000;
}

.input-age{
  ::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 12px;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 12px;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 12px;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 12px;
  }
}

.input-validation{
  text-align:left;
}

.container-outer {
  margin-top: 5%;
}

.controls{
  margin-left: 50px;
}

.span-btn{
  text-align: center;
}