.intro{
  width:100%;
}

p{ 
  color: #fff;
}

.title {
  h3{
    text-align: center;
    color: #eee;
  }
  h4{
    text-align: center;
    color: #eee;
  }
}

.title-form{
  .title;
  h4{
    text-align: initial;
  }
}

.okay{
  i {
    color: #77c338;
  }
}

.content-intro{
  margin-top: 35px;
  color: #000;
}

.input-age{
  ::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 12px;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 12px;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 12px;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 12px;
  }
}

.control-group {
  .control-group;
  margin-bottom{
    margin-bottom: 10px;
  }
}

.input-validation{
  text-align:left;
}

.container-outer {
  margin-top: 3%;
}

.controls{
  margin-left: 50px;
}

.span-btn{
  text-align: center;
}

.group-tspace{
  margin-top: 2%;
}