@import "twitter-bootstrap/bootstrap";

body{
  font-family: 'Droid Sans', Arial, sans-serif;
  background-image: url('../images/team.jpg');

  div#wrap{
    background: rgba(0,0,0,0.8);

    @import "header";
    @import "form";
  }
}


